In [1]:
import pandas as pd

In [4]:
test= pd.read_table("../data/test_sample.dat",header=None)
test.head()

,0,1,2,3,4,5,6,7,8,9,10
0,1,394352,1529648412,34,84,13,29663,26657,"281474976645120,281474976645120,28147497664512...","age:819,608,988,741,202,837,400,394,942,361,72...",120
1,2,585401,1553076190,40,221,1,-1,6262,"281474976579587,281474976579587,28147497657958...","age:819,433,479,741,229,347,522,79,753,601|edu...",42
2,3,419408,1553031394,30,122,13,32110,17436,"17592185782272,17592185782272,17592185782272,1...",all,6
3,4,405326,1553238836,64,136,1,-1,22359,"281474976694272,281474976694272,28147497669427...","age:333,1|gender:2|area:11505,1874,3790,4566,5...",181
4,5,578942,1541191585,34,12,13,6372,24082,"68719214592,68719214592,68719214592,6871921459...","age:819,608,988,741,202,837,400,394,942,361,72...",31

In [3]:
test.shape

(20289, 11)

In [6]:
test[1].unique()

array([394352, 585401, 419408, ..., 430102, 479619,  20628], dtype=int64)

In [10]:
len(test[1].unique())

1954

In [4]:
op= pd.read_table("../data/ad_operation.dat",header=None,names=["id","opa1","opa2","ops3","op4"])
op.head()

,id,opa1,opa2,ops3,op4
0,593323,0,2,2,90
1,593323,0,2,3,all
2,593323,0,2,4,"281474976710655,281474976710655,28147497671065..."
3,593323,20190217000000,1,1,0
4,593323,20190218233855,1,2,90

In [8]:
len(op[op['opa1']!=0])

647381

In [9]:
op.shape

(760866, 5)

In [13]:
len(op[op['opa2']==2])/3

37321.0